*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 100px;
}


.card{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px 2px rgb(238, 235, 235);
    overflow: hidden;
    position: relative;
    z-index: 999;
    cursor: pointer;

    img{
        width: 100%;
        height: 150px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        border-radius: 10px;
    }
    
    
    h3{
        margin: 5px 0px;

    }

    .ac{

        position: absolute;
        z-index: 1;
        border-radius: 10px;
        bottom: -50px;
        left: 0px;
        right: 0px;
        padding: 15px;
        transition: all .4s ease;
        
    }

    &:hover .ac{
        bottom: 0px;

    }



}